// Colours
$white: #fff;
$black: #000;

$light-green: #e6f7f5;
$green: #bfebe6;
$dark-green: #00af9a;

$light-red: #fdeeed;
$red: #fad2ce;
$dark-red: #ed4d3b;

$light-amber: #ffebb1;
$amber: #ffd862;
$dark-amber: #ffbf00;

$grey-lighter: #ccd0d3;
$primary: #1976d2;

